{{ form_start(form, {
    method: 'POST',
    action: path('subscriber_new'), 'attr': {'class':'subscriber-form'} })
}}
{{ form_widget(form) }}
    <button type="submit" class="newsletter-btn"><i class="fa fa-paper-plane"></i></button>
{{ form_end(form) }}
