<div class="col-md-4">
    <div class="aside-widget">
        <div class="section-title">
            <h2>Popular сategories <a class="btn btn-success" href="{{ path('category_index') }}">All</a></h2>
        </div>
        <div class="category-widget">
            {{ knp_menu_render('navSidebar', {
                'currentClass': 'active',
                'allow_safe_labels': true
            }) }}
        </div>
    </div>

    <div class="aside-widget">
        <div class="tags-widget">
            <ul>
                <li><a href="#">Chrome</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">Tutorial</a></li>
                <li><a href="#">Backend</a></li>
                <li><a href="#">JQuery</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">Website</a></li>
            </ul>
        </div>
    </div>
</div>
