{% extends 'layouts/base.html.twig' %}

{% block title %} All tags {% endblock %}

{% block body %}
    <div class="section col-md-8">
        <div class="container col-md-12">
        <h1 class="text-center pt-4">All tags</h1>
            {% if tags|length > 0 %}
                <div class="posts list-block">
                    <div class="row">
                        <ul>
                            {% for tag in tags %}
                                <li>
                                    <a href="{{ path('tag_posts', {tagSlug: tag.slug}) }}">{{ tag.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="section-row pagination-block"></div>
                </div>
            {% else %}
                <p class="text-center">Tags is missing.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
