Hi {{ email }}!
<br>
Thanks for signing up for the Blog news!
<br>
<a href="{{ url }}">Yes, subscribe me to this list.</a>
<br>
Before we can start sending you cool stuff, we need to confirm that you actually want to be here. Just click on the link above.
<br>
For questions about this list, please contact:
<br>
<a href="mailto:admin@zraiev.top" style="color:#336699" target="_blank">admin@zraiev.top</a>
